html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
body {
    margin: 0;
    font-size: 15px;
    line-height: 1;
}
.holder {
    margin: 10px auto;
    width: 510px;
    border-radius: 20px 20px 0 0px;
    display: flex;
    flex-wrap: wrap-reverse;
    overflow: hidden;
    font-weight: bold;
    padding: 0;
    box-shadow: 0 0 0 5px black;
}
.item {
    flex-basis: 150px;
    height: 60px;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item:nth-child(1) {
    background-color: lightcoral;
    order: 3;
    flex-grow: 3;
}
.item:nth-child(2) {
    background-color: blue;
    order: 1;
    flex-grow: 1;
}
.item:nth-child(3) {
    background-color: blueviolet;
    order: 0;
    flex-grow: 1;
}
.item:nth-child(4) {
    background-color: green;
    order: 2;
    flex-grow: 1;
}
.item:nth-child(5) {
    background-color: orangered;
    order: 4;
    flex-grow: 3;
}